body {
  background-color: black;
}
img {
  width: 300px;
  height: 200px;
  background-color: white;
  border: 4px solid green;
}
.title {
  background-color: #ffa64d;
  border: 5px solid #000099;
}
.listing {
  background-color: #3399ff;
}
.header {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
  border: 1px solid green;
}

.main-content{
  height: 500px;
  border: 3px solid rgb(144, 5, 147);
}
ul {
  list-style: none;
}
.information {
  background-color: red;
  height: 50%;
  width: 100%;
}
