body {
  background-color: black;
}
img {
  width: 300px;
  height: 200px;
}
.listing {
  background-color: blue;
}
.header {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  margin-top: 40px;
  width: 400px;
  text-align: center;
  border: 1px solid green;
}
.row {
  background-color: yellow;
}
.main-content{
  margin-top: 10px;
  height: 500px;
  border: 3px solid rgb(144, 5, 147);
}
ul {
  list-style: none;
}
